<div class="flex justify-center items-center mt-20">
    @if (user$ | async) { 
        <div>
            <div class="profile-div flex items-center flex-col">
                @if (user?.profile) {
                    <img [src]="user?.profile" alt="profile" class="rounded-full w-40 h-40">

                }@else {
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="profile" class="rounded-full w-40 h-40">
                }
            
                <div>Welcome, {{ user?.name }}! </div>
                <div routerLink="/profile" routerLinkActive="router-link-active"  class="bg-blue-500 p-2 rounded text-white cursor-pointer">Profile</div>
            </div>
            
        </div>

    }
    
    
    
    
    
    
    @else{

    <div class="flex justify-center items-center h-24">
        <div class="animate-spin rounded-full h-10 w-10 border-b-2 border-gray-900"></div>
        <span class="ml-3">Loading...</span>
    </div>
    }
</div>